:root { 
--white_A700_7f:#ffffff7f; 
--white_A700_b2:#ffffffb2; 
--red_300:#ed6a5e; 
--red_400:#ce5347; 
--gray_50:#f6f8fb; 
--green_500:#58a942; 
--light_blue_800:#1480b7; 
--green_400:#62c554; 
--blue_gray_500_02:#687081; 
--teal_400:#319988; 
--blue_gray_500_01:#5c6f8c; 
--blue_gray_800_02:#2f3c53; 
--blue_gray_100_7f:#d7dadc7f; 
--blue_gray_800:#39474e; 
--light_blue_A700:#0084ff; 
--gray_200_01:#e5e8eb; 
--blue_gray_700:#3d525d; 
--black_900_08:#00000008; 
--blue_gray_900:#333333; 
--gray_700:#5e6063; 
--gray_400:#bec2c5; 
--blue_gray_100:#d7dadc; 
--orange_A200:#d6a243; 
--gray_100_7f:#f2f5f67f; 
--blue_gray_400:#7d909b; 
--blue_gray_300:#a4abb1; 
--blue_gray_600:#5a707b; 
--blue_gray_500:#6b8592; 
--blue_gray_600_01:#5a6a75; 
--black_900_0c:#0000000c; 
--gray_200:#e9e9e9; 
--gray_300:#dce2e5; 
--blue_gray_800_01:#3d484e; 
--orange_300:#f6be4f; 
--gray_300_01:#dfe1e5; 
--gray_100:#f0f5f9; 
--gray_100_03:#f3f6f7; 
--gray_100_02:#f1f3f4; 
--gray_400_01:#b6b6b6; 
--gray_400_02:#babcbe; 
--gray_100_01:#f6f6f6; 
--black_900_19:#00000019; 
--blue_gray_700_02:#4a5c65; 
--white_A700:#ffffff; 
--blue_gray_700_01:#49565f; 
--gray_300_5f:#dee0e35f; 
--gray_700_01:#606367; 
}